.system-bar {
    background-color: $main-color;
    display: flex;
    flex-direction: column;
    @media (min-width: 640px) {
        justify-content: end;
        align-items: center;
        flex-direction: row;
    }
}
// toolbar
.menubar-container {
    justify-content: space-between;
    .p-menubar-root-list {
        gap: 24px;
        .p-menubar-item.p-focus {
            background: none !important;
            .p-menubar-item-content {
                background: none !important;
            }
        }
        .p-menubar-item-content:hover {
            background: none !important;
        }
        a {
            color: $main-color;
            &.router-link-active {
                font-weight: 600 !important;
                color: $second-color;
            }
        }
    }
    .p-menubar-end {
        @apply mr-0 ml-0 !important;
        display: flex;
        .p-button,
        .header-icons {
            color: $main-color;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 6px;
            &:hover,
            &.router-link-exact-active {
                background-color: lighten($main-color, 50%);
                margin: 0 1px;
            }
            @media (min-width: 640px) {
                padding: 12px;
            }
        }
    }
}

// ------------------------------responsive---------------------
@media (max-width: 960px) {
    .menubar-container {
        justify-content: start;
        .p-menubar-start {
            order: 2;
        }
        .p-menubar-button {
            order: 1;
            &:hover {
                background: none !important;
            }
        }
        .p-menubar-root-list {
            padding: 16px !important;
            gap: 16px !important;
            .p-menubar-item-content:hover {
                background: none !important;
            }
        }
        .p-menubar-end {
            order: 3;
            @apply ltr:ml-auto rtl:mr-auto !important;
        }
    }
}
