:deep(.title-auth) {
    @apply lg:text-4xl sm:text-2xl text-xl font-bold text-main-color;
}
:deep(.subtitle-auth) {
    @apply text-main-color sm:text-base text-sm;
}
:deep(.footer-auth) {
    @apply text-main-color sm:text-sm text-xs font-medium mt-2;
}
:deep(.form-container) {
    label {
        font-size: 12px;
        font-weight: 500;
        color: $main-color;
        @media (min-width: 640px) {
            font-size: 14px;
        }
    }
    .p-inputtext,
    .p-textarea,
    .p-select {
        padding: 10px 12px;
        border-width: 1px;
        .p-placeholder {
            padding: 0 !important;
        }
        &.p-inputwrapper-filled .p-select-label {
            padding: 0 !important;
        }
        @media (min-width: 640px) {
            padding: 14px 16px;
        }
    }
    .p-inputgroup {
        .p-inputgroupaddon {
            @apply ltr:rounded-tr-none ltr:rounded-br-none rtl:rounded-tl-none rtl:rounded-bl-none !important;
            &.p-invalid {
                border-color: coral !important;
            }
            :dir(rtl) & {
                border-right-width: 1px !important;
            }
        }
        .p-inputtext {
            @apply ltr:rounded-tl-none ltr:rounded-bl-none rtl:rounded-tr-none rtl:rounded-br-none !important;
        }
    }
    .otp-container {
        .p-inputtext {
            flex: 1;
            aspect-ratio: 10/9;
            &:enabled:focus {
                border-color: $second-color !important;
            }
        }
    }
    .checkbox-container {
        .p-checkbox-box,
        &:has(.p-checkbox-input:hover) .p-checkbox-box {
            border-color: $second-color !important;
            background: white !important;
            svg {
                color: $second-color !important;
            }
        }
    }
    .p-button:disabled {
        background-color: #d6d4ce !important;
        border-color: #d6d4ce !important;
    }
    .auth-button {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 16px;
        border-radius: 8px;
        @media (min-width: 640px) {
            margin-top: 16px;
            margin-bottom: 16px;
            font-size: 18px;
        }
    }
}

:deep(.input-container) {
    @apply flex flex-col gap-2;
}
