// account mennu style
.account-menu-container {
    overflow-x: scroll;
    white-space: nowrap;
    box-shadow: 0px 0px 4px 0px #00000040;
    padding: 10px;
    &::-webkit-scrollbar {
        height: 0px;
    }
    .account-link {
        @apply no-underline flex lg:justify-start items-center justify-center lg:p-5 p-2 lg:border-b border-border-color w-full sm:text-base text-sm font-medium text-main-color;
    }
    .router-link-exact-active {
        background: $main-color !important;
        color: white !important;
        border-radius: 12px;
    }
}

// account card style
.account-card-container {
    box-shadow: none !important;
    .p-card-body {
        @apply sm:gap-6 gap-4;
        padding: 0;
        .p-card-title {
            @apply sm:text-3xl text-2xl;
            font-weight: 700;
            color: $main-color;
        }
        .p-inputgroup {
            .p-inputgroupaddon {
                @apply ltr:rounded-tr-none ltr:rounded-br-none rtl:rounded-tl-none rtl:rounded-bl-none !important;
                &.p-invalid {
                    border-color: coral !important;
                }
                :dir(rtl) & {
                    border-right-width: 1px !important;
                }
            }
            .p-inputtext {
                @apply ltr:rounded-tl-none ltr:rounded-bl-none rtl:rounded-tr-none rtl:rounded-br-none !important;
            }
        }
    }
}
@media (min-width: 1024px) {
    .account-menu-container {
        padding: 0;
        .router-link-exact-active {
            border-radius: 0;
            &:first-child {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }
            &:last-child {
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }
        }
    }
}
