:deep(.data-view-header) {
    @apply sm:text-sm text-xs;
    background: #f2f4f5;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    color: $main-color;
    font-weight: 500;
}

:deep(.p-inputtext) {
    @apply sm:py-[14px] sm:px-4 py-2 px-2;
    border-width: 2px;
}

// checkbox style
:deep(.checkbox-container) {
    &.p-checkbox-checked {
        .p-checkbox-box,
        &:has(.p-checkbox-input:hover) .p-checkbox-box {
            border-color: $second-color !important;
            background: $second-color !important;
            svg {
                color: white !important;
            }
        }
    }
}
